@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('roboto_100.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('roboto_400.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('roboto_500.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('roboto_700.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  src: url('roboto_condensed_400.ttf') format('truetype');
}